---
layout: page
---
{% for factor in site.data.factors %}
  {% assign currentFactorURL = "/" | append: factor.link %}
  {% if currentFactorURL == page.url %}
    {% assign title = factor.title %}
    {% assign subtitle = factor.subtitle %}
    {% assign index = factor.index %}

    {% assign nextLink = site.data.factors[forloop.index].link %}

    {% assign previousIndex = forloop.index | minus: 2 %}
    {% if previousIndex >= 0 %}
      {% assign previousLink = site.data.factors[previousIndex].link %}
    {% endif %}
  {% endif %}
{% endfor %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      {{ index }}. {{ title }}
    </h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    <h2 class="factor-slogan">
      {{ subtitle }}
    </h2>

    {% include fork.html %}

    {{ content }}

    <hr />
    <div class="pager">
      {% if previousLink %}
        <a class="previous" href="{{previousLink}}">Previous</a>
      {% endif %}

      {% if nextLink %}
        <a class="next" href="{{nextLink}}">Next</a>
      {% endif %}
    </div>
  </div>
</article>
